_site
.sass-cache
.jekyll-metadata

# IntelliJ IDEA modules and interim config files
*.iml
.idea/*.xml
.idea/.name
.idea/artifacts
.idea/libraries
.idea/modules
.idea/shelf

!.idea/misc.xml
!.idea/codeStyles/
!.idea/copyright/
