# The result of Jekyll build
_site
.sass-cache
.jekyll-metadata

# Intermediate directory used by `embed-code` Jekyll subcommand
.fragments

# IntelliJ IDEA modules and interim config files
*.iml
.idea/*.xml
.idea/.name
.idea/artifacts
.idea/libraries
.idea/modules
.idea/shelf

!.idea/misc.xml
!.idea/codeStyles/
!.idea/copyright/

# The `embed-code` temporary directory
_code/build
