# Hugo cache files
docs/_site/resources
public

# Cache folder for Hugo Modules
docs/_site/_vendor

# Node modules
node_modules

# Used to control concurrency between multiple Hugo instances
docs/_site/.hugo_build.lock

# Needed for navigation/intellisense help inside code editors
jsconfig.json

# IntelliJ IDEA modules and interim config files
*.iml
.idea/*.xml
.idea/.name
.idea/artifacts
.idea/libraries
.idea/modules
.idea/shelf

!.idea/misc.xml
!.idea/codeStyles/
!.idea/copyright/

# The `embed-code` temporary directory
_code/build

# Local Java version for this project
.java-version

# Gradle interim configs
.gradle/

# Gradle build files
build/
generated/
