[submodule "docs/_code/examples/airport"]
	path = docs/_code/examples/airport
	url = https://github.com/spine-examples/airport.git
[submodule "docs/_code/examples/blog"]
	path = docs/_code/examples/blog
	url = https://github.com/spine-examples/blog.git
[submodule "docs/_code/examples/hello"]
	path = docs/_code/examples/hello
	url = https://github.com/spine-examples/hello.git
[submodule "docs/_code/examples/kanban"]
	path = docs/_code/examples/kanban
	url = https://github.com/spine-examples/kanban.git
[submodule "docs/_code/examples/todo-list"]
	path = docs/_code/examples/todo-list
	url = https://github.com/spine-examples/todo-list.git
