// Usage: @include transition(all .3s ease-in-out);
@mixin transition($args...) {
  -webkit-transition: $args;
  -moz-transition: $args;
  -ms-transition: $args;
  -o-transition: $args;
  transition: $args;
}

// Usage: @include box-shadow(0 10px 20px 0 rgba(black, .12));
@mixin box-shadow($args...) {
  -webkit-box-shadow: $args;
  -moz-box-shadow: $args;
  -o-box-shadow: $args;
  box-shadow: $args;
}

@mixin close-icon {
  display: inline-block;
  width: $icon-size--s;
  height: $icon-size--s;
  background: url('https://spine.io/img/x-black.svg') no-repeat center/cover;
  opacity: .26;
  @include transition(all .3s ease-in-out);
}

// Ordered and unordered list styles.
// Usage: `@include list();`
@mixin list($item-line-height: 1.6) {
  ol, ul {
    margin: 0 0 32px 0;
    line-height: $item-line-height;

    @media (max-width: $tablet) {
      margin-bottom: 24px;
    }

    li {
      margin-left: 18px;
      margin-top: .6em;
      padding-left: 6px; // Adds additional space between bullet and text.

      ol, ul {
        margin-bottom: 32px;

        li {
          margin-top: .45em;
        }
      }
    }
  }

  ul {
    list-style: disc;

    li {
      ul {
        list-style: circle;
      }
    }
  }

  ol {
    list-style: decimal;
  }
}
