@import "../base/config";

html,
body {
  height: 100%;
  -webkit-font-smoothing: antialiased;
}

$layout-padding-medium: 40px;
$layout-padding-tablet: 32px;
$layout-padding-phone: 20px;
$layout-max-width: 1260px;
$desktop-medium: 1280px;
.content-holder {
  max-width: $layout-max-width;
  @media(max-width: $desktop-medium) {
    padding-right: $layout-padding-medium;
    padding-left: $layout-padding-medium;
  }

  @media(max-width: $tablet) {
    padding-right: $layout-padding-tablet;
    padding-left: $layout-padding-tablet;
  }

  @media(max-width: $phone-medium) {
    padding-right: $layout-padding-phone;
    padding-left: $layout-padding-phone;
  }

  .article-container {
    max-width: 780px;
    margin: 0 auto 24px;
  }
}
