$article-border-color: #e6ecf1;
$article-container-border: 1px solid $article-border-color;
$article-side-padding: 56px;
$article-container-padding: 32px $article-side-padding 40px;
$article-container-padding-mobile: 0 15px;
$article-container-margin-bottom: 32px;
$article-container-border-radius: 3px;
$article-container-min-height: 460px;

.article-container {
  background-color: white;
  border: $article-container-border;
  border-radius: $article-container-border-radius;
  padding: $article-container-padding;
  margin-bottom: $article-container-margin-bottom;
  min-width: 0; // Fixes a bug when `pre` code breaks flex element
  min-height: $article-container-min-height;

  @media (max-width: $phone-xlarge) {
    padding: $article-container-padding-mobile;
    border: none;
  }

  $code-block-offset: $article-side-padding;
  $tablet-code-block-offset: 32px;
  $mobile-code-block-offset: 20px;
  pre.highlight {
    border-radius: 0;
    margin-right: -$code-block-offset;
    margin-left: -$code-block-offset;
    padding-right: $code-block-offset;
    padding-left: $code-block-offset;

    @media (max-width: $phone-xlarge) {
      margin-right: -$tablet-code-block-offset;
      margin-left: -$tablet-code-block-offset;
      padding-right: $tablet-code-block-offset;
      padding-left: $tablet-code-block-offset;
    }

    @media (max-width: $phone-medium) {
      margin-right: -$mobile-code-block-offset;
      margin-left: -$mobile-code-block-offset;
      padding-right: $mobile-code-block-offset;
      padding-left: $mobile-code-block-offset;
    }
  }

  $code-block-padding: 24px 20px;
  li {
    pre.highlight {
      margin-left: unset;
      margin-right: unset;
      padding: $code-block-padding;
      border-radius: 4px;
    }
  }
}
