// Classes are generated in the `tools/code-tabs.js` file.

$selectedTabColor: $main-brand-color;
$defaultTabColor: rgba($text-color, .64);
$hoverTabColor: $text-color;

.code-tabs {
  margin-top: 24px;
  margin-bottom: 20px;

  .tabs {
    display: flex;
    position: relative;
    margin-bottom: 12px;

    .indicator {
      position: absolute;
      top: 100%;
      min-width: 0;
      width: 0;
      height: 2px;
      background: $selectedTabColor;
      will-change: left, width;
      transition: left .3s ease, width .3s ease;
    }

    .tab {
      padding: 4px 0;
      cursor: pointer;
      font-family: $main-font;
      font-size: 15px;
      line-height: 1;
      font-weight: 500;
      color: $defaultTabColor;
      @include transition(all .2s ease-in-out);

      // The flex `column-gap` doesn't work with the earlier versions of Safari.
      // That's why the margin is used here.
      &:not(:nth-child(2)) {
        margin-left: 24px;
      }

      &:hover {
        color: $hoverTabColor;
      }

      &.selected {
        color: $selectedTabColor;
      }
    }
  }

  .code-tab-content {
    p {
      margin-bottom: 8px;
    }
  }
}

.code-tab-content {
  display: none;

  &.show {
    display: block;
  }

  &.inline.show {
    display: inline-block;
  }
}
