// Font
$main-font: 'Roboto', 'Helvetica Neue', Helvetica, Arial, sans-serif;
$main-mono-font: 'Roboto Mono', monospace;
$main-serif-font: 'PT Serif', serif;

// Font sizes
$font-size--primary         : 16px;
$font-size--xxs             : .8rem;
$font-size--xs              : 1rem;
$font-size--s               : 1.15rem;
$article-font-size          : 1.1rem;
$font-size--m               : 1.65rem;
$font-size--l               : 1.85rem;
$font-size--xl              : 2rem;
$font-size--xxl             : 2.5rem;
$font-size--xxxl            : 2.625rem;

// Responsive
$phone-small                : 320px;
$phone-medium               : 480px;
$phone-large                : 512px;
$phone-xlarge               : 640px;
$tablet                     : 768px;
$tablet-large               : 991px;
$desktop-small              : 1024px;
$desktop-medium             : 1280px;
$desktop-large              : 1440px;

// Border-radius
$border-radius-s            : 2px;
$border-radius              : 3px;
$border-radius-m            : 4px;
$border-radius-l            : 5px;

// Icon sizes
$icon-size--s               : 24px;
$icon-size--m               : 32px;
