.diagram-box {
  margin-top: 44px;
}

/* The JS that makes the diagram visible is in `tools/architecture-diagram.js` file. */
#spine-architecture-diagram {
  visibility: hidden;
}

.architecture-link {
  cursor: pointer;
  color: $link-color;
  border-bottom:1px dotted $link-color;

  &:hover {
    color: $link-hover-color;
  }
}

.full-screen-preview {
  font-family: $main-font;

  .preview-header {
    padding: 24px 24px 16px;
    border-bottom: 1px solid rgba(0, 0, 0, .12);

    .preview-title {
      font-size: 1.25rem;
      font-weight: 700;
      line-height: 1.4;
      color: $black;
      padding: 0;
      margin: 0;
    }

    .preview-subtitle {
      font-size: 15px;
      color: $text-color;
      line-height: 1.6;
      margin: 8px 0 16px;
      max-width: 500px;
    }

    .close-btn-wrapper {
      float: right;

      .close-btn {
        display: block;
        cursor: pointer;
        line-height: 0;
        padding: 1rem;  // Makes a clickable zone bigger on 16px
        margin: -14px -1rem -1rem auto; // `-14px` is used to align the icon with the title text

        .close-icon {
          @include close-icon;
        }

        &:hover {
          .close-icon {
            opacity: .87;
          }
        }
      }
    }
  }

  .preview-body {
    padding: 24px 24px 56px;

    svg {
      display: block;
      margin: 0 auto;
      max-width: 1424px;
    }
  }
}

.full-screen-link {
  margin-top: 24px;

  i {
    margin-right: 8px;
  }

  span {
    font-size: 15px;
  }
}
